name: check-build-webui

on:
  push:
    branches:
      - main
      - latest
  pull_request:

# If new code is pushed to a PR branch, then cancel in progress workflows for that PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true


defaults:
  run:
    shell: bash -xe {0}

jobs:
  check-build-webui:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive

      - uses: nixbuild/nix-quick-install-action@v34
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_conf: |
            extra-substituters = https://cache.garnix.io
            extra-trusted-public-keys = cache.garnix.io:CTFPyKSLcx5RMJKfLo5EEPUObbA78b0YQ2DTCJXqr9g
      - name: Populate the nix store
        run: |
          nix develop .#noObelisk --command echo

      - name: Populate the nix store
        run: nix develop .#noObelisk --command echo

      - name: Build webui + proxy
        run: nix develop .#noObelisk --command ./scripts/push-webui.sh dry-run
